<div class="unisender-news-lists">
  <table>
    <thead>
      <tr>
        <th>{{ 'List label'|trans }}</th>
        <th>{{ 'Actions'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for element in form.unisender_news %}
      {% if element.title %}
      <tr>
        <td>{{ element.title }}</td>
        <td>{{ element.delete }}</td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <div class="actions">
    {{ form.actions }}
  </div>
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
</div>
